.menu {
	display: none;
}

@media screen and (max-width: 599px) {
	nav {
		position: absolute;
		box-sizing: border-box;
		background: #fff;
		left: calc(100% * -1);
		width: 100%;
		transition: left 0.4s;
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
	}

	.offcanvas,
	.offcanvas body	{
		height: 100%;
	}

	.offcanvas nav {
		left: 0;
	}

	.offcanvas.end nav {
		position: static;
	}

	.offcanvas.end body > *:not(nav):not(.menu) {
		display: none;
	}

	.menu {
		display: block;
		background: #ddd;
	}

	.menu span {
		padding: 1em;
		display: block;
	}

	.menu span:before {
		content: "Mobile nav";
	}

	.offcanvas .menu span:before {
		content: "< Back";
	}


}
