/* demo styles not required by offcanvas */
body {
	margin: 0;
	background: yellow;
}

header, footer {
	padding: 1em;
}

article {
	margin: 1em;
}

nav {
	padding: 0;
	margin: 0;
}
nav ul {
	margin: 0;
	padding: 0;
}
nav li {
	padding: 0.5em 1em;
	border-bottom: solid 1px #ccc;
	list-style: none;
	margin: 0;
}

nav li a {
	text-decoration: none;
	color: #39f;
}

.menu {
	padding: 0.5em 1em;
	border-bottom: solid 1px #ccc;
	position: fixed;
}
.menu span {
	font-size: 1.2em;
	color: #39f;
	font-weight: bold;
	cursor: pointer;
	font-family: arial, verdana, sans-serif;
}

.menu span:before {
	content: "Menu";
}


.offcanvas .menu span:before {
	content: "< Back";
}

@media screen and (min-width: 600px) {
	nav ul li {
		float: left;
		border: none;
	}

	nav + * {
		clear: both;
	}
}

/* version with menu fixed */
@media screen and (max-width: 599px) {
	.menu {
		position: fixed;
		background: #fff;
		width: 100%;
		top: 0;
	}

	header {
		margin-top: 40px;
	}

	.offcanvas.end nav {
		padding-top: 40px;
	}
}
